@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
$fontMain: 'Barlow Condensed', sans-serif;
$fontSizeSmall: 1.6rem;
$fontSizeMedium: 4rem;
$fontSizeBig: 6rem;
$fontSizeSm:2.6rem;
$textUnderline:underline;
$textLineTrought:line-through;
$textNone:none;



$line-height-base:1.5;
$line-height-sm:1.25;
$line-height-lg:2;


$fontlighter:lighter;
$fontLight:300;
$fontNormal:400;
$fontBold:700;
$fontBolder:bolder;