.formulario {
    background-color: rgba(117, 116, 116, 0.295);
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
        legend {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
            display: block;
            text-transform: uppercase;
            font-weight: 700;
        }
}


.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: ($width - 1%) / 2;
    font-size: 2rem;
}


.campo label {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}

.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: ($height - 2rem);
}

.enviar {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
}

.container-forms{
    max-width: 800px;
    margin: 0 auto;
    width: $w-50;
        label{
            font-size: $fontSizeSmall;
        }
            input{
                font-size:$fontSizeSmall;
            }
                span{
                    font-size:$fontSizeSmall;
                }
                   option{
                    font-size:$fontSizeSmall;
}
}