/*Hero*/
.hero{
    width: 100%;
    height: 80vh;
    padding: 5em;
    background: url(../img/a12.jpeg) center;
    background-size: cover;
    background-attachment:fixed;
}

.heroNosotros{
    width: 100%;
    height: 80vh;
    padding: 5em;
    background: url(../img/a6.jpg) center;
    background-size: cover;
    background-attachment:fixed;
}

.heroContacto{
    width: 100%;
    height: 80vh;
    padding: 5em;
    background: url(../img/a5.jpg) center;
    background-size: cover;
    background-attachment:fixed;
}
.heroProductos{
    width: 100%;
    height: 80vh;
    padding: 5em;
    background: url(../img/a9.jpg) center;
    background-size: cover;
    background-attachment:fixed;
}
.heroMayorista{
    width: 100%;
    height: 80vh;
    padding: 5em;
    background: url(../img/a4.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}