.container-productos2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
        .card{
            width: 330px;
            height: 530px;
            border-radius:8px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) ;
            overflow:hidden ;
            margin: 20px ;
            text-align: center;
            transition: all 0.25s;
        }
            .card img{
                width: 330px;
                height: 220px;
                }
                .card h4{
                    color: rgba(0, 0, 0, 0.7);
                    font-weight: 600;
                    font-size: 30px;
                    }
                    .card p{
                        padding: 0 1rem;
                        font-size: 22px;
                        font-weight: 400;
                        
                    }
                        .card a{
                            font-weight: 500;
                            text-decoration: none;
                            color: #3498db;
                            font-size: 25px;
                        }
                            .card:hover{
                                transform: translatey(-15px);
                                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2) ;
                        } 
}
